In [1]:
from feature_combination import prepare_training_sample, TRAIN_PATH

data = prepare_training_sample(TRAIN_PATH, '00001')
data

,start,end,a_ascend,a_descend,a_jump,a_loadwalk,a_walk,p_bent,p_kneel,p_lie,...,bb_2d_tl_y,centre_3d_x,centre_3d_y,centre_3d_z,bb_3d_brb_x,bb_3d_brb_y,bb_3d_brb_z,bb_3d_flt_x,bb_3d_flt_y,bb_3d_flt_z
0,46.0,47.0,0.0,0.0,0.0,0.0,1.00,0.0,0.0,0.0,...,-480.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,47.0,48.0,0.0,0.0,0.0,0.0,1.00,0.0,0.0,0.0,...,-480.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,48.0,49.0,0.0,0.0,0.0,0.0,0.50,0.0,0.0,0.0,...,-480.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,49.0,50.0,0.0,0.0,0.0,0.0,0.40,0.0,0.0,0.0,...,-480.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,50.0,51.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,...,-480.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1746,1792.0,1793.0,0.0,0.0,0.0,0.0,0.65,0.0,0.0,0.0,...,-480.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1747,1793.0,1794.0,0.0,0.0,0.0,0.0,0.05,0.0,0.0,0.0,...,-480.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1748,1794.0,1795.0,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,...,-480.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1749,1795.0,1796.0,0.0,0.0,0.0,0.0,0.95,0.0,0.0,0.0,...,-480.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1750,1796.0,1797.0,0.0,0.0,0.0,0.0,1.00,0.0,0.0,0.0,...,-480.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN